*,
*::before,
*::after {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.page-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    background-color: red;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px gray;
}

.operation {
    font-size: 24px
}

.calculator-display {
    width: 450px;
    height: 70px;
    padding: 5px;
    margin: 20px auto 20px;
    background-color: green;
    border-radius: 5px;
    text-align: right;
    box-shadow: inset 2px 2px black;
}

.result {
    font-size: 24px;
}

button {
    background-color: antiquewhite;
    font-size: 40px;
    font-weight: bold;
    width: 105px;
    height: 75px;
    margin: 2px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px black;
}

button:active {
    background-color: aquamarine;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 5px;
    border-radius: 2px;
    background-color: grey;
}