:root {
    --primary: #3d348b;
    --secondary: #7678ed;
    --accents: #f7b801;
    --option: #f18701;
    --buttons-active: #f35b04;
}

*,
*::before,
*::after {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    background-color: black;
}

.title {
    padding-top: 1.5rem;
    color: var(--accents);
}

.page-wrapper { 
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.calculator-display {
    font-size: 36px;
    padding-right: 5px;
    margin: 15px auto;
    width: 400px;
    height: 70px;
    background-color: rgb(130, 186, 47);
    display: flex;
    align-items: center;
    justify-content: end;
    box-shadow: 2px 2px 5px inset black;
    border-radius: 5px;
    border: 1px solid var(--accents);
}

.calculator-container {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--accents);
}

.button-container {
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}

button {
    font-size: 40px;
    font-weight: bold;
    height: 70px;
    width: 100px;
    margin: 1px;
    border-radius: 5px;
    background-color: var(--accents);
    box-shadow: 1px 1px 2px black;
}

button:active {
    box-shadow: 0 0 0 white;
    transform: scale(0.9);
}

button:hover {
    border: 1px solid white;
    background-color: var(--buttons-active);
}

.footer {
    text-align: center;
    padding-bottom: 1rem;
    color: #f7b801;
}

@keyframes scale {
    100% {
        transform: scale(1.5);
    }
}