:root {
    --primary: #3d348b;
    --secondary: #7678ed;
    --accents: #f7b801;
    --option: #f18701;
    --buttons-active: #f35b04;
}

*,
*::before,
*::after {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.title {
    padding-top: 3rem;
}

.page-wrapper { 
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.calculator-display {
    font-size: 36px;
    padding-right: 5px;
    margin: 15px auto;
    width: 400px;
    height: 70px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: end;
    box-shadow: 1px 1px 5px inset black;
}

.calculator-container {
    padding: 10px;
    background-color: #3d348b;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
}

.button-container {
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}

button {
    font-size: 24px;
    font-weight: bold;
    height: 80px;
    width: 100px;
    margin: 1px;
    border-radius: 5px;
    background-color: #f7b801;
}

button:active {
    background-color: #f35b04;
}

.footer {
    text-align: center;
    padding-bottom: 1rem;
}